<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDocumentService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mossdevappsvr:8003/AMNDocumentService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentService"
          contract="ICEDocument.IDocumentService" name="BasicHttpBinding_IDocumentService" />
    </client>
  </system.serviceModel>
</configuration>